@media only screen and (max-width: 544px) {
  .dashboard {
    display: none;
    img {
      display: none;
    }
    div {
      display: none;
    }
    span {
      display: none;
    }
  }
  .addproduct {
    margin-left: 0px !important;
    span {
      margin-top: 10px !important;
    }
  }
}

@media only screen and (max-width: 394px) {
  form {
    input {
      max-width: 140px;
      margin-right: 10px !important;
    }
  }
}

@media only screen and (max-width: 633px) {
  .pricess {
    flex-direction: column;
  }

  .addproduct {
    span {
      margin-top: 10px !important;
    }
  }

  form {
    input {
      max-width: 240px;
    }
  }
}
.addproduct {
  margin-left: 100px;

  .fixed {
    position: fixed;
    width: 100%;
  }
  .header {
    max-width: 100%;
    display: flex;
    align-items: center;
    height: 80px;
    box-shadow: 3px 20px 44px -12px rgba(120, 120, 120, 0.75);
    .text {
      margin-left: 40px;
      h2 {
        font-size: 18px;
        font-weight: 800;
        line-height: 22.59px;
        margin-bottom: 4px;
      }
      .p {
        display: flex;
        gap: 8px;
        p {
          font-size: 13px;
          font-weight: 700;
          line-height: 21px;
          color: rgba(181, 181, 195, 1);
        }
      }
    }
  }
  .fixed_content {
    position: fixed;
    width: 90%;
  }
  .content {
    display: flex;
    flex-direction: column;
    max-width: 1350px;
    margin: 100px 40px auto;
    box-shadow: 0px 0px 83px -10px rgba(115, 115, 115, 0.75);
    border-radius: 12px;
    button {
      max-width: 105px;
      height: 40px;
      background-color: rgba(240, 240, 246, 1);
      border-radius: 5px;
      border: none;
      font-size: 14px;
      font-weight: 700;
      line-height: 10.08px;
    }
    button:hover {
      background-color: rgba(27, 197, 141, 1);
      color: #fff;
      transition: 0.5s;
    }
  }
  .content_aside {
    margin-left: 24px;
    margin-top: 2px;
    form {
      display: flex;
      flex-direction: column;
      .pricess {
        display: flex;
        max-width: 450px;
        justify-content: space-between;
        margin-bottom: 50px;
      }
      label {
        display: flex;
        flex-direction: column;
        font-size: 15px;
        font-weight: 700;
        line-height: 10.8px;
        input {
          border: none;
          padding: 10px;
          background-color: rgba(246, 246, 251, 1);
          font-size: 15px;
          font-weight: 700;
          line-height: 21px;
          text-align: left;
          border-radius: 10px;
        }

        input:focus {
          outline: none;
        }
        span {
          margin-bottom: 12px;
          margin-top: 30px;
        }
        .red {
          color: red;
        }
        .brand {
          max-width: 500px;
        }
        .artikul {
          max-width: 600px;
        }
      }
    }
  }
  .fixed_footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    .footer {
      max-width: 1440px;  
      display: flex; 
      justify-content: center;   
      height: 80px; 
      box-shadow: 3px 20px 44px 10px rgba(148, 148, 148, 0.75);
      max-width: 100%;
      align-items: center;
      .btns {
        display: flex;
        width: 250px;
        justify-content: space-between;
        .green {
          width: 117px;
          height: 40px;
          background-color: rgba(27, 197, 141, 1);
          color: #fff;
          border-radius: 10px;
          border: none;
          font-size: 14px;
          font-weight: 800;
          line-height: 10.08px;
        }
        .cancle {
          width: 117px;
          height: 40px;
          background-color: rgba(240, 240, 246, 1);
          border-radius: 5px;
          border: none;
          font-size: 14px;
          font-weight: 700;
          line-height: 10.08px;
        }
      }
    }
  }
}
